
<div class="card">
    <h3>Crear Producto</h3>
    <div class="card-body">
        <div class="mb-2">
            <form >
                <div class="mb-2">
                    <label class="form-label mt-2">
                        Nombre:
                    </label>
                    <input type="text" class="form-control" placeholder="Ingrese su nombre">

                    <label class="form-label mt-2">
                        Unidades en Inventario:
                    </label>
                    <input type="number" class="form-control" placeholder="Ingrese # de Unidades">

                    <label class="form-label mt-2">
                        Habilitado?
                    </label>
                    <select class="form-select">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <br>

                    <label class="form-label">
                        Unidades Mínimas:
                    </label>
                    <input type="number" class="form-control" placeholder="Ingrese # de Unidades">

                    <label class="form-label mt-2">
                        Unidades Máximas:
                    </label>
                    <input type="number" class="form-control" placeholder="Ingrese # de Unidades">

                </div>
                <button class="btn btn-primary mt-2">
                    Crear Producto
                </button>
            </form>
        </div>
    </div>

    <hr>
    <h3>Buscar Producto</h3>
    <div class="card-body">
        <div class="mb-2">
            <form >
                <div class="mb-2">
                    <label class="form-label mt-2">
                        Nombre:
                    </label>
                    <input type="text" class="form-control" placeholder="Ingrese nombre del Producto">

                    <label class="form-label mt-2">
                        ID:
                    </label>
                    <input type="number" class="form-control" placeholder="Ingrese ID del Producto">

                </div>
                <button class="btn btn-primary mt-2">
                    Buscar Producto
                </button>
            </form>
        </div>
    </div>

    <hr>
    <h3>Actualizar Producto</h3>
    <div class="card-body">
        <div class="mb-2">
            <form >
                <div class="mb-2">
                    <label class="form-label mt-2">
                        Nombre:
                    </label>
                    <input type="text" class="form-control" placeholder="Ingrese su nombre">

                    <label class="form-label mt-2">
                        Unidades en Inventario:
                    </label>
                    <input type="number" class="form-control" placeholder="Ingrese # de Unidades">

                    <label class="form-label mt-2">
                        Habilitado?
                    </label>
                    <select class="form-select">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <br>

                    <label class="form-label">
                        Unidades Mínimas:
                    </label>
                    <input type="number" class="form-control" placeholder="Ingrese # de Unidades">

                    <label class="form-label mt-2">
                        Unidades Máximas:
                    </label>
                    <input type="number" class="form-control" placeholder="Ingrese # de Unidades">

                </div>
                <button class="btn btn-primary mt-2">
                    Actualizar Producto
                </button>
            </form>
        </div>
    </div>

    <h3>Eliminar Producto</h3>
    <div class="card-body">
        <div class="mb-2">
            <form >
                <div class="mb-2">
                    <label class="form-label mt-2">
                        Nombre:
                    </label>
                    <input type="text" class="form-control" placeholder="Ingrese nombre del Producto">

                    <label class="form-label mt-2">
                        ID:
                    </label>
                    <input type="number" class="form-control" placeholder="Ingrese ID del Producto">

                </div>
                <button class="btn btn-primary mt-2">
                    Eliminar Producto
                </button>
            </form>
        </div>
    </div>

    <hr>
    <h3>Listar Productos</h3>
    <br>
    <button class="btn btn-primary mt-2">
        Listar Productos
    </button>
    <div class="card-body">
        <div class="mb-2">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">En Inventario</th>
                    <th scope="col">¿Habilitado?</th>
                    <th scope="col">Cant. Mínima</th>
                    <th scope="col">Cant. Máxima</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>